.idea/cost_per_view.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
cost_per_view.egg-info/PKG-INFO
cost_per_view.egg-info/SOURCES.txt
cost_per_view.egg-info/dependency_links.txt
cost_per_view.egg-info/not-zip-safe
cost_per_view.egg-info/top_level.txt

*.pyc
